.page {
  padding-top: 15vw;
  padding-bottom: 8.3vw;
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.7vw;

  li {
  }
}

.filterController {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2vw;
  margin-top: 1.2vw;

  button {
    font-family: Manrope;
    font-weight: 700;
    font-size: 0.8vw;
    line-height: 0.8vw;
    letter-spacing: 0.01vw;
    gap: 0.5vw;
    display: flex;
    align-items: center;
  }
}

.categoryHeader {
  h1 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 2vw;
    line-height: 100%;
    text-align: center;
    margin-bottom: 0.8vw;
  }

  span {
    font-family: Manrope;
    font-weight: 600;
    font-size: 0.8vw;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(26, 26, 26, 0.5);
    display: block;
    text-align: center;
  }
}

.childCategories {
  margin-top: 1.6vw;
  ul {
    display: flex;
    justify-content: center;
    gap: 1.2vw;

    li {
      font-family: Manrope;
      font-weight: 500;
      font-size: 1.2vw;
      line-height: 100%;
      color: rgba(26, 26, 26, 0.5);
      transition: 0.3s;
    }

    li:hover {
      color: rgba(26, 26, 26, 1);
    }

    .active {
      font-family: Playfair Display;
      font-size: 1.2vw;
      font-style: italic;
      font-weight: 600;
      color: black;
    }
  }

  a {
    color: black;
  }
}
