.page {
  /* padding-top: 15vw; */
  padding-bottom: 8.3vw;
}

.loader {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-top: 15vw;
  height: 100vh;
}

.loader::after {
  content: "";
  width: 15vw;
  height: 15vw;
  border: 0.2vw solid rgba(0, 0, 0, 0.2);
  border-top-color: var(--primary);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.contentFlex {
  display: flex;
  gap: 5vw;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  .page {
    padding-bottom: 21.3vw;
  }

  .loader {
    padding-top: 80vw;
  }

  .contentFlex {
    display: block;
  }
}
