.page {
  /* padding-bottom: 8.3vw; */

  input {
    display: block;
  }

  h2 {
    font-family: Manrope;
    font-weight: 600;
    font-size: 0.9vw;
    line-height: 0.8vw;
    letter-spacing: 0.01vw;
    text-transform: uppercase;
    margin-bottom: 1.6vw;
  }
}

.orderTopPanel {
  position: relative;
  padding: 1.2vw 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  a {
    color: black;
    font-family: Manrope;
    font-weight: 700;
    font-size: 0.9vw;
    line-height: 100%;
  }

  .backLink {
    width: 0.7vw;
    height: 1.2vw;
  }

  .headerLogo {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translateX(-50%) translateY(-50%);

    svg {
      width: 10.1vw;
      height: 1.4vw;
    }

    path {
      fill: black;
    }
  }
}

.orderAllInfo {
  display: grid;
  gap: 6.5vw;
  grid-template-columns: 4fr 3fr;
  margin-bottom: 8.3vw;
}

.orderAllInfo > div {
  height: max-content;
  position: sticky;
  top: 2vw;
}

.navTabs {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 3.1vw;
  padding: 1.2vw;
  margin-bottom: 2.7vw;

  button {
    font-family: Manrope;
    font-weight: 600;
    font-size: 0.9vw;
    line-height: 0.8vw;
    letter-spacing: 0.01vw;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0.6vw;
    color: rgba(26, 26, 26, 0.3);

    span {
      display: block;
      width: 2.1vw;
      height: 2.1vw;
      background-color: rgba(26, 26, 26, 0.3);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(255, 255, 255, 1);
    }
  }

  .active {
    color: var(--primary);

    span {
      background-color: var(--primary);
    }
  }

  .done {
    color: black;

    span {
      background-color: black;
    }
  }
}

.navTabs::before,
.navTabs::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.01vw;
  background-color: rgba(239, 237, 238, 1);
}

.navTabs::before {
  top: 0;
}
.navTabs::after {
  bottom: 0;
}

.inputContainer > div {
  /* margin-bottom: 0.6vw; */
}

.inputContainer {
  display: flex;
  gap: 1.2vw;

  label {
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.8vw;
    line-height: 130%;

    span {
      color: var(--primary);
    }
  }

  input {
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.9vw;
    line-height: 140%;
    padding: 0.9vw 0.8vw;
    border: 1px solid rgba(239, 237, 238, 1) !important;
    margin-top: 0.6vw;
    width: 21vw;
  }

  .errorInput {
    border-left-color: red !important;
    outline: none;
  }

  .errorInput > div {
    border-left-color: red !important;
  }

  input::placeholder {
    color: rgba(209, 207, 208, 1);
  }
}

.inputBox {
  margin-bottom: 1.6vw;

  .inputContainer:not(:last-child) {
    margin-bottom: 1vw;
  }
}

.addressList {
  margin-bottom: 1.6vw;

  .checked {
    border: 1px solid black;
  }

  input {
    display: none;
  }

  li {
    padding: 1.2vw;
    background-color: rgba(249, 247, 248, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    svg {
      width: 1.2vw;
      height: 1.2vw;
      stroke: black;
      transition: 0.3s;
    }

    .delete:hover {
      svg {
        stroke: var(--primary);
      }
    }
  }

  li:not(:last-child) {
    margin-bottom: 1.6vw;
  }

  .infoBlock {
    display: flex;
    align-items: center;
    gap: 1.2vw;

    span {
      font-family: Manrope;
      font-weight: 700;
      font-size: 0.8vw;
      line-height: 0.8vw;
      letter-spacing: 0%;
      flex-shrink: 0;
      text-transform: uppercase;
    }

    p {
      font-family: Manrope;
      font-weight: 500;
      font-size: 0.9vw;
      line-height: 140%;
    }
  }

  .customCheckbox {
    display: flex;
    align-items: center;
    gap: 0.4vw;
    cursor: pointer;

    svg {
      width: 1.2vw;

      height: 1.2vw;
    }

    span {
      font-family: Manrope;
      font-weight: 700;
      font-size: 0.8vw;
      line-height: 0.8vw;
      text-transform: uppercase;
    }
  }

  .changeAddress {
    cursor: pointer;

    svg {
      stroke: #1a1a1a;
      width: 1.2vw;
      height: 1.2vw;
    }
  }

  .changeAddress:hover {
    svg {
      stroke: var(--primary);
    }
  }
}

.regularCustomerController {
  display: flex;
  align-items: center;
  gap: 2vw;
  margin-bottom: 2.7vw;

  div {
    cursor: pointer;
  }

  div:not(.active) {
    font-family: Manrope;
    font-weight: 500;
    font-size: 1.4vw;
    line-height: 100%;
    letter-spacing: 0%;
    opacity: 0.3;
  }

  .active {
    font-family: Playfair Display;
    font-weight: 500;
    font-style: italic;
    font-size: 1.4vw;
  }
}

.stepController {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(239, 237, 238, 1);
  padding-top: 1.6vw;
  margin-top: 1.6vw;

  .nextBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    font-family: Manrope;
    font-weight: 700;
    font-size: 0.8vw;
    line-height: 100%;
    letter-spacing: -0.01vw;
    color: white;
    padding: 0.9vw 0;
    width: 12.5vw;
    background-color: rgba(214, 61, 68, 1);
    transition: 0.3s;
    cursor: pointer;

    svg {
      fill: white;
      width: 1.2vw;
      height: 1.2vw;
      transition: fill 0.3s;
    }
  }

  .disabledNext {
    background-color: rgba(249, 247, 248, 1) !important;
    /* pointer-events: none !important; */
    color: rgba(117, 117, 117, 1) !important;

    svg {
      fill: rgba(117, 117, 117, 1) !important;
    }
  }

  .nextBtn:hover {
    background-color: rgba(255, 196, 58, 1);
    color: black;

    svg {
      fill: black;
    }
  }

  .prevBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Manrope;
    font-weight: 700;
    font-size: 0.8vw;
    line-height: 100%;
    letter-spacing: -0.01vw;
    width: 12.5vw;
    border: 1px solid rgba(26, 26, 26, 1);
    cursor: pointer;
  }

  .disabled {
    border: 1px solid rgba(26, 26, 26, 0.1);
    color: rgba(26, 26, 26, 0.1);
    pointer-events: none;
  }
}

.checkboxContainer {
  display: flex;
  gap: 1.6vw;

  span {
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.8vw;
    line-height: 130%;
    display: flex;
    align-items: center;
  }

  label {
    display: flex;
    align-items: center;
  }

  .hiddenCheckbox {
    display: none !important;
  }

  .customCheckbox {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .customCheckbox input:checked + .checkboxLabel::before {
    content: "";
    width: 0.9vw;
    height: 0.9vw;
    border: 1px solid transparent;
    background-image: url("/icons/checkMark.jpg");
    background-size: contain;
    display: inline-block;
    transition: background-color 0.3s ease;
  }

  .checkboxLabel::before {
    content: "";
    width: 0.9vw;
    height: 0.9vw;
    border: 1px solid #ccc;
    border-radius: 0;
    display: inline-block;
    margin-right: 0.5vw;
    transition: background-color 0.3s ease;
  }
}

.selectContainer {
  width: 100%;

  input {
    max-width: 100%;
  }

  p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.8vw;
    line-height: 130%;

    span {
      color: var(--primary);
    }
  }
}

.addressIndo {
  display: flex;
  justify-content: space-between;
  width: 100%;

  input {
    width: 6vw;
    padding: 0.75vw;
    height: auto;
  }
}

.textArea {
  width: 100%;

  label {
    display: block;
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.8vw;
    line-height: 130%;
  }

  textarea::placeholder {
    color: rgba(209, 207, 208, 1);
  }

  textarea {
    width: 100%;
    display: block;
    border: 1px solid rgba(239, 237, 238, 1) !important;
    padding: 0.8vw 0.9vw;
    resize: none;
    margin-top: 0.5vw;
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.9vw;
    line-height: 140%;
    letter-spacing: 0%;
    height: 10vw;
  }

  .characterCount {
    margin-left: auto;
    margin-top: 0.5vw;
    width: fit-content;
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.7vw;
    line-height: 130%;
    color: rgba(117, 117, 117, 1);
  }
}

.paymentMethodRadio {
  .radioBox {
    display: flex;
    align-items: center;
    gap: 0.6vw;
    width: 100%;

    label {
      font-family: Manrope;
      font-weight: 500;
      font-size: 0.9vw;
      line-height: 140%;
      padding: 0.8vw;
      border: 1px solid rgba(239, 237, 238, 1);
      width: 100%;
    }

    .active {
      border: 1px solid rgb(0, 0, 0);
    }
  }

  .radioBox:not(:last-child) {
    margin-bottom: 1.2vw;
  }

  /* Стилізуємо сам input type="radio" */
  input[type="radio"] {
    appearance: none; /* Видаляє стандартний стиль */
    width: 0.8vw; /* Ширина кружечка */
    height: 0.8vw; /* Висота кружечка */
    border-radius: 50%; /* Робимо круглим */
    border: 1px solid #000 !important; /* Колір рамки */
    background-color: #fff; /* Колір фону */
    position: relative; /* Необхідно для псевдоелементів */
    cursor: pointer; /* Вказівник на кнопці */
    padding: 0.01vw !important;
  }

  /* Стан, коли радіокнопка вибрана */
  input[type="radio"]:checked {
    background-color: var(--primary); /* Колір кружечка при виборі */
    border-color: var(--primary) !important; /* Колір бордера при виборі */
  }
}

.mapButton {
  background-color: var(--primary);
  color: white;
  font-family: Manrope;
  font-weight: 700;
  font-size: 0.8vw;
  line-height: 100%;
  letter-spacing: -0.01vw;
  vertical-align: middle;
  text-transform: uppercase;
  white-space: nowrap;
  align-self: flex-end;
  padding: 1.05vw 1.6vw;
  transition: 0.3s;
}

.mapButton:hover {
  background-color: rgba(255, 196, 58, 1);
  color: black;
}

.orderBtn {
  position: relative;

  button {
    background-color: var(--primary);
    color: white;
    width: 23.4vw;
    padding: 1.1vw 0;
    font-family: Manrope;
    font-weight: 700;
    font-size: 0.8vw;
    line-height: 100%;
    letter-spacing: -0.01vw;
    transition: 0.3s;
  }

  p {
    position: absolute;
    transform: translateY(0.8vw);
    color: rgba(186, 186, 186, 1);
    font-family: Manrope;
    font-weight: 600;
    font-size: 0.6vw;
    line-height: 140%;
    letter-spacing: -0.01vw;

    a {
      color: black;
    }
  }
}

.orderBtn button:hover {
  background-color: rgba(255, 196, 58, 1);
  color: black;
}

.confirmOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmBox {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
}

.confirmButtons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.confirmButtons button {
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .page {
    h2 {
      font-size: 4.8vw;
      line-height: 4.2vw;
      margin-bottom: 8.5vw;
    }
  }

  .orderTopPanel {
    padding: 8.5vw 0;

    svg {
      width: 6.4vw;
      height: 6.4vw;
    }

    .headerLogo {
      svg {
        width: 9.8vw;
        height: 11.2vw;
      }
    }
  }

  .addressIndo {
    gap: 4.2vw;
  }

  .textArea {
    margin-bottom: 4.2vw;
    padding-bottom: 4.2vw;

    label {
      font-size: 4.2vw;
    }

    textarea {
      font-size: 4.2vw;
      padding: 4.2vw;
      height: 36.5vw;
      margin-top: 3.2vw;
    }

    .characterCount {
      font-size: 3.7vw;
      line-height: 140%;
      margin-top: 3.2vw;
    }
  }

  .navTabs {
    justify-content: start;
    overflow-x: auto;
    padding-left: 4.3vw;
    padding-bottom: 5vw;
    padding-top: 6.4vw;
    margin-bottom: 10.6vw;

    button {
      font-size: 4.2vw;
      line-height: 3.7vw;
      gap: 3.2vw;
      white-space: nowrap;

      span {
        min-width: 6.4vw;
        min-height: 6.4vw;
      }
    }
  }

  .regularCustomerController {
    overflow-x: auto;
    gap: 6.4vw;
    margin-bottom: 13.8vw;

    padding-left: 4.3vw;

    div:not(.active) {
      font-size: 5.3vw;
      line-height: 150%;
    }

    div {
      white-space: nowrap;
    }

    .active {
      font-size: 5.3vw;
    }
  }

  .navTabs::-webkit-scrollbar {
    display: none;
  }
  .regularCustomerController::-webkit-scrollbar {
    display: none;
  }

  .navTabs::before {
    display: none;
  }

  .navTabs::after {
    height: 1px;
    width: 150vw;
    transform: translateX(-30vw);
  }

  .inputBox {
    margin-bottom: 8.5vw;

    .inputContainer:not(:last-child) {
      margin-bottom: 6.4vw;
    }
  }

  .inputContainer {
    flex-direction: column;
    gap: 6.4vw;

    input {
      width: 100%;
      font-size: 4.8vw;
      line-height: 140%;
      padding: 4.6vw 4.2vw;
      margin-top: 3.2vw;
    }

    label {
      font-size: 4.2vw;
      line-height: 130%;
    }
  }

  .orderAllInfo > div {
    height: max-content;
    position: static;
    top: 2vw;
    margin-bottom: 20.2vw;
  }

  .checkboxContainer {
    flex-direction: column;
    gap: 8.5vw;

    .checkboxLabel {
      gap: 3.2vw;
    }

    span {
      font-size: 4.2vw;
      line-height: 130%;
    }

    .checkboxLabel::before {
      width: 5.3vw;
      height: 5.3vw;
      flex-shrink: 0;
    }

    .customCheckbox input:checked + .checkboxLabel::before {
      content: "";
      width: 5.3vw;
      height: 5.3vw;
      border: 1px solid transparent;
      background-image: url(/icons/checkMark.jpg);
      background-size: contain;
      display: inline-block;
      transition: background-color 0.3s ease;
    }
  }

  .stepController {
    padding-top: 8.5vw;
    margin-top: 8.5vw;

    .prevBtn {
      font-size: 4.2vw;
      line-height: 100%;
      width: 34vw;
    }

    .nextBtn {
      font-size: 4.2vw;
      line-height: 100%;
      padding: 5.3vw 0;
      width: 40vw;

      svg {
        width: 6.4vw;
        height: 6.4vw;
      }
    }
  }

  .orderAllInfo {
    display: block;
  }

  .selectContainer {
    p {
      font-size: 4.2vw;
      line-height: 130%;
    }
  }

  .mapButton {
    width: 100%;
    padding: 5.8vw 0;
    font-size: 4.2vw;
    line-height: 100%;
  }

  .addressList {
    .infoBlock {
      flex-direction: column;
      align-items: start;
      gap: 4.2vw;

      span {
        font-size: 4.2vw;
        line-height: 4.2vw;
      }

      p {
        font-size: 4.8vw;
      }
    }

    li {
      padding: 6.4vw;
      min-height: 68vw;
      flex-direction: column;
      align-items: start;
    }

    li:not(:last-child) {
      margin-bottom: 5vw;
    }

    .changeAddress {
      display: flex;
      justify-content: end;
      width: 100%;

      svg {
        width: 6.4vw;
        height: 6.4vw;
      }
    }
  }

  .paymentMethodRadio {
    .radioBox:not(:last-child) {
      margin-bottom: 6.4vw;
    }

    input[type="radio"] {
      min-width: 5.3vw;
      min-height: 5.3vw;
      flex-shrink: 0;
      border: 1px solid #000 !important;
      padding: 0.01vw !important;
    }

    .radioBox {
      gap: 3.2vw;

      label {
        font-size: 4.8vw;
        line-height: 140%;
        padding: 4.6vw 4.2vw;
      }
    }
  }

  .stepController {
    /* flex-direction: column-reverse; */
    gap: 8.5vw;

    .prevBtn {
      font-size: 4.2vw;
      width: 34vw;
      height: 16vw;
      line-height: 100%;
    }

    .nextBtn {
      gap: 2vw;
    }
  }

  .orderBtn {
    button {
      font-size: 4.2vw;
      line-height: 100%;
      width: 100%;
      padding: 5.8vw 0;
      margin-bottom: 4.2vw;
    }

    p {
      position: static;
      font-size: 3.2vw;
      line-height: 140%;
    }
  }
}
