.section {
  padding: 8.3vw 0 9.4vw 0;
}

.blogList {
  display: grid;
  gap: 1vw;
  grid-template-columns: 1fr 1fr 1fr;

  .blogImage {
    overflow: hidden;
    margin-bottom: 1.25vw;
  }

  h3 {
    font-family: Manrope, sans-serif;
    font-size: 0.8vw;
    font-weight: 700;
    line-height: 1vw;
    color: var(--primary);
    margin-bottom: 0.8vw;
  }

  p {
    font-family: Manrope, sans-serif;
    font-size: 1.2vw;
    font-weight: 600;
    line-height: 1.3vw;
    max-width: 20vw;
  }
}

.titleContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 2vw;

  .stub {
    opacity: 0;
    pointer-events: none;
  }

  h2 {
    color: #000000;
    width: 15vw;

    span:nth-child(1) {
      font-family: Playfair, serif;
      font-size: 2.7vw;
      font-style: italic;
      font-weight: 400;
      line-height: 3.5vw;
    }

    span:nth-child(2) {
      display: block;
      margin-top: -1vw;
      font-family: Manrope, sans-serif;
      font-size: 2vw;
      font-weight: 500;
      line-height: 2.9vw;
      text-indent: 2vw;
    }
  }

  a {
    position: absolute;
    right: 0;
    display: flex;
    gap: 0.8vw;

    span {
      font-family: Manrope, sans-serif;
      font-size: 1vw;
      font-weight: 500;
      line-height: 1.3vw;
      color: #000000;
      transition: color 0.3s;
    }

    svg {
      width: 1.25vw;
      height: 1.25vw;
      fill: #000000;
      transition: fill 0.3s;
    }
  }

  a:hover {
    span {
      color: var(--primary);
    }
    svg {
      fill: var(--primary);
    }
  }
}

.customPagination {
  display: flex;
  justify-content: center;
  gap: 2.1vw;
}

.dot {
  width: 2.1vw;
  height: 2.1vw;
  background-color: #e5e5e5;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activeDot {
  background-color: #c13f3f;
}

.prevBtn,
.nextBtn {
  svg {
    width: 6.4vw;
    fill: #000000;
  }
}

@media (max-width: 1024px) {
  .section {
    padding: 21vw 0;
  }

  .titleContainer {
    flex-direction: column;
    align-items: center;
    gap: 9.6vw;
    margin-bottom: 9.6vw;

    a {
      position: static;
      gap: 4.2vw;

      span {
        font-size: 4.2vw;
        line-height: 6vw;
      }

      svg {
        width: 6.4vw;
        height: 6.4vw;
      }
    }

    h2 {
      width: auto;

      span:nth-child(1) {
        font-size: 9.6vw;
        line-height: 100%;
      }

      span:nth-child(2) {
        margin-top: -3vw;
        font-size: 8.5vw;
        line-height: 100%;
        text-indent: 6vw;
      }
    }
  }

  .blogImage {
    height: 48vw;
    overflow: hidden;
    margin-bottom: 5.3vw;
  }

  h3 {
    font-family: Manrope;
    font-weight: 700;
    font-size: 3.7vw;
    line-height: 137%;
    letter-spacing: 0.5vw;
    text-transform: uppercase;
    color: var(--primary);
    margin-bottom: 3.2vw;
  }

  p {
    font-family: Manrope;
    font-weight: 600;
    font-size: 4.8vw;
    line-height: 120%;
    vertical-align: middle;
  }
}
