.section {
  padding: 8.3vw 0 9.4vw 0;
}

.blogList {
  display: grid;
  gap: 1vw;
  grid-template-columns: 1fr 1fr 1fr;

  .blogImage {
    overflow: hidden;
    margin-bottom: 1.25vw;
  }

  h3 {
    font-family: Manrope, sans-serif;
    font-size: 0.8vw;
    font-weight: 700;
    line-height: 1vw;
    color: var(--primary);
    margin-bottom: 0.8vw;
  }

  p {
    font-family: Manrope, sans-serif;
    font-size: 1.2vw;
    font-weight: 600;
    line-height: 1.3vw;
    max-width: 20vw;
  }
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 2vw;

  .stub {
    opacity: 0;
    pointer-events: none;
  }

  h2 {
    color: #000000;
    width: 15vw;

    span:nth-child(1) {
      font-family: Playfair, serif;
      font-size: 2.7vw;
      font-style: italic;
      font-weight: 400;
      line-height: 3.5vw;
    }

    span:nth-child(2) {
      display: block;
      margin-top: -1vw;
      font-family: Manrope, sans-serif;
      font-size: 2vw;
      font-weight: 500;
      line-height: 2.9vw;
      text-indent: 2vw;
    }
  }

  a {
    display: flex;
    gap: 0.8vw;

    span {
      font-family: Manrope, sans-serif;
      font-size: 1vw;
      font-weight: 500;
      line-height: 1.3vw;
      color: #000000;
      transition: color 0.3s;
    }

    svg {
      width: 1.25vw;
      height: 1.25vw;
      fill: #000000;
      transition: fill 0.3s;
    }
  }

  a:hover {
    span {
      color: var(--primary);
    }
    svg {
      fill: var(--primary);
    }
  }
}
