.markersBlock {
  position: absolute;
  top: 1.5vw;
  left: 0;
  z-index: 9;

  div:not(:last-child) {
    margin-bottom: 0.4vw;
  }

  .bestMarker {
    background-color: rgba(255, 196, 58, 1);
    color: var(--primary);
    padding: 0.4vw 0.8vw;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 0.6vw;
    font-weight: 800;
    line-height: 0.7vw;
    letter-spacing: 0.01em;

    span {
      /* display: block; */
    }
  }

  .topMarker,
  .newMarker {
    padding: 0.4vw 0;
    width: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(254, 228, 229, 1);
    font-family: Raleway;
    font-size: 0.6vw;
    font-weight: 800;
    line-height: 0.7vw;
    letter-spacing: 0.01em;
    color: var(--primary);
  }

  .saleMarker {
    padding: 0.4vw 0.8vw;
    /* font-family: Raleway, sans-serif; */
    font-size: 0.6vw;
    font-weight: 800;
    line-height: 0.7vw;
    letter-spacing: 0.01em;
    color: #ffffff;
    background-color: var(--primary);
    width: fit-content;
  }
}
