.page {
  padding-bottom: 8.3vw;
}

.container {
  display: flex;
  gap: 5.2vw;
}

.tabsMenu {
  display: flex;
  flex-direction: column;
  min-width: 16.6vw;
}

.category {
  h3 {
    font-family: Playfair Display;
    font-size: 1.2vw;
    font-style: italic;
    font-weight: 600;
    line-height: 1.6vw;
    margin-bottom: 1.25vw;
  }
}

.category:not(:last-child) {
  margin-bottom: 2vw;
}

.tabButton {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.6vw;
  cursor: pointer;
  transition: 0.3s;
  color: #666;
  font-family: Manrope;
  font-size: 0.8vw;
  font-style: normal;
  font-weight: 600;
  line-height: 137%; /* 21.92px */
  letter-spacing: -0.01vw;
  padding: 0.8vw 1.2vw;
  /* background-color: #f9f7f8; */

  svg {
    stroke: black;
    width: 1.25vw;
    height: 1.25vw;
    transition: fill 0.3s;
  }
}

.tabButton:not(:last-child) {
  /* margin-bottom: 0.4vw; */
}

.tabButton:hover {
  color: black;
}

.active {
  font-weight: bold;
  color: #ffffff;
  background-color: var(--primary) !important;

  svg {
    stroke: white;
  }
}

.active:hover {
  color: white;
}

.tabsContent {
  flex-grow: 1;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.loader::after {
  content: "";
  width: 2vw;
  height: 2vw;
  border: 0.2vw solid rgba(0, 0, 0, 0.2);
  border-top-color: var(--primary);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  .page {
    padding-bottom: 21vw !important;
  }

  .category:not(:last-child) {
    margin-bottom: 5vw;
  }

  .category {
    h3 {
      font-size: 6.4vw;
      line-height: 100%;
      margin-bottom: 5vw;
    }
  }

  .container {
    display: block;
  }

  .tabsMenu {
    position: static;
    ul {
      padding-bottom: 4.2vw;
      li {
        .wishLength {
          width: 5.3vw;
          height: 5.3vw;
          font-size: 3.2vw;
          line-height: 100%;
          right: 6.4vw;
        }
      }
    }
  }

  .hidden {
    display: none;
  }

  .hidden {
    display: none;
  }

  .logout {
    font-size: 4.8vw;
    line-height: 100%;
    gap: 3.2vw;
    padding: 6.4vw 0;
    padding-left: 6.4vw;
    margin-top: 4.2vw;

    svg {
      width: 6.4vw;
      height: 6.4vw;
    }
  }

  .username {
    font-size: 7.4vw;
    line-height: 100%;
    display: flex;
    gap: 2vw;
    padding-left: 0;
    margin-bottom: 4.2vw;
  }

  .email {
    font-size: 3.7vw;
    padding-left: 0;
    line-height: 140%;
    margin-bottom: 10vw;
  }

  .tabButton {
    font-size: 4.2vw;
    line-height: 137%;
    padding: 4.2vw 6.4vw;
    gap: 4.2vw;

    svg {
      width: 6.4vw;
      height: 6.4vw;
    }
  }
}
