.slide {
  padding-top: 13vw;
  padding-bottom: 5.8vw;
  min-height: 80vh;

  h3 {
    font-family: Manrope, sans-serif;
    font-size: 4.1vw;
    font-weight: 400;
    line-height: 3.9vw;
    margin-bottom: 1.6vw;
    color: #ffffff;
    max-width: 30vw;
  }

  p {
    font-family: Manrope, sans-serif;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 1.7vw;
    color: #ffffff;
    max-width: 30vw;
    margin-bottom: 1.6vw;
  }

  a {
    color: black;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 0.8vw;
    padding: 1vw 3.7vw;
    transition: 0.3s;

    span {
      font-family: Manrope, sans-serif;
      font-size: 0.8vw;
      font-weight: 600;
      line-height: 0.8vw;
    }

    svg {
      width: 1.2vw;
      height: 1.2vw;
      fill: black;
      transition: fill 0.3s;
    }
  }

  a:hover {
    background-color: rgba(255, 196, 58, 1);
    color: var(--primary);

    svg {
      fill: var(--primary);
    }
  }
}

.slideContent {
  padding-left: 4vw;
}

.sliderContainer {
  background-color: var(--primary);
  position: relative;
  min-height: 80vh;
}

@media (max-width: 1024px) {
  .sliderContainer {
    min-height: auto;
  }

  .slide {
    padding: 5vw 0;
    min-height: auto;
    height: 100vw;

    h3 {
      font-size: 7vw;
      line-height: 100%;
      max-width: none;
      margin-bottom: 3.2vw;
    }

    p {
      font-size: 3.7vw;
      line-height: 140%;
      max-width: none;
    }

    a {
      position: relative;
      padding: 3.2vw 12vw;
      gap: 2.1vw;
      z-index: 99999;

      span {
        font-size: 2.6vw;
      }

      svg {
        width: 4.8vw;
        height: 4.8vw;
      }
    }
  }

  .slideContent {
    padding-left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
