.slide {
  padding-top: 13vw;
  padding-bottom: 5.8vw;
  min-height: 80vh;

  h3 {
    font-family: Manrope, sans-serif;
    font-size: 4.1vw;
    font-weight: 400;
    line-height: 3.9vw;
    margin-bottom: 1.6vw;
    color: #ffffff;
    max-width: 30vw;
  }

  p {
    font-family: Manrope, sans-serif;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 1.7vw;
    color: #ffffff;
    max-width: 30vw;
    margin-bottom: 1.6vw;
  }

  a {
    color: black;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 0.8vw;
    padding: 1vw 3.7vw;
    transition: 0.3s;

    span {
      font-family: Manrope, sans-serif;
      font-size: 0.8vw;
      font-weight: 600;
      line-height: 0.8vw;
    }

    svg {
      width: 1.2vw;
      height: 1.2vw;
      fill: black;
      transition: fill 0.3s;
    }
  }

  a:hover {
    background-color: rgba(255, 196, 58, 1);
    color: var(--primary);

    svg {
      fill: var(--primary);
    }
  }
}

.slideContent {
  padding-left: 4vw;
}

.sliderContainer {
  background-color: var(--primary);
  position: relative;
  min-height: 80vh;
}
