.slide {
  padding-top: 13vw;
  padding-bottom: 5.8vw;
  min-height: 80vh;

  h3 {
    font-family: Manrope, sans-serif;
    font-size: 4.1vw;
    font-weight: 400;
    line-height: 3.9vw;
    margin-bottom: 1.6vw;
    color: #ffffff;
    max-width: 30vw;
  }

  p {
    font-family: Manrope, sans-serif;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 1.7vw;
    color: #ffffff;
    max-width: 30vw;
    margin-bottom: 1.6vw;
  }

  a {
    color: black;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 0.8vw;
    padding: 1vw 3.7vw;

    span {
      font-family: Manrope, sans-serif;
      font-size: 0.8vw;
      font-weight: 600;
      line-height: 0.8vw;
    }
  }
}

.slideContent {
  padding-left: 4vw;
}
