.section {
  position: relative;
  display: grid;
  grid-template-columns: 0.98fr 1.02fr;
}

.aboutInfo {
  position: relative;
  background-color: rgba(254, 228, 229, 1);
  padding: 3.1vw;

  h2 {
    font-family: Playfair Display;
    font-size: 1.2vw;
    font-style: italic;
    font-weight: 600;
    line-height: 1.6vw;
    color: var(--primary);
    margin-bottom: 1vw;
  }

  p {
    font-family: Manrope, sans-serif;
    font-size: 2.7vw;
    font-weight: 700;
    line-height: 3vw;
    margin-bottom: 2.5vw;
    color: var(--primary);
    max-width: 37vw;
  }
}

.arrow {
  width: 1.6vw;
  height: 1.6vw;
  stroke: var(--primary);
  z-index: 9;
  transition: stroke 0.3s;
}

.brandLink {
  position: relative;
  display: flex;
  gap: 0.2vw;
  margin-left: 2.5vw;

  span {
    color: var(--primary);
    font-family: Manrope, sans-serif;
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 1.5vw;
    z-index: 9;
    transition: color 0.3s;
  }

  .svg {
    position: absolute;
    top: -70%;
    left: -5%;

    width: 15.3vw;
    height: 3.7vw;

    svg {
      position: absolute;
    }

    svg:nth-child(2) {
      opacity: 0;
      transition: opacity 0.3s;
      transform: translateY(0.1vw);
    }
  }
}

.brandLink:hover svg:nth-child(2) {
  opacity: 1;
}

.brandLink:hover span {
  color: rgb(255, 255, 255);
}

.brandLink:hover .arrow {
  stroke: #ffffff;
}

.heartLine {
  position: absolute;
  left: 0;
  top: 29vw;
  width: 100%;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2vw;
  width: 83.3vw;
  height: 12vw;
}

.viktoria {
  position: absolute;
  top: 30.6vw;
  left: 35.7vw;

  color: var(--primary);
  span:nth-child(1) {
    font-family: Playfair, serif;
    font-size: 1.5vw;
    font-style: italic;
    font-weight: 600;
    line-height: 1.6vw;
  }

  span:nth-child(2) {
    display: block;
    margin-top: -0.5vw;
    font-family: Manrope, sans-serif;
    font-size: 1.2vw;
    font-weight: 700;
    line-height: 1.6vw;
    text-indent: 1vw;
  }
}

@media (max-width: 1024px) {
  .section {
    display: flex;
    flex-direction: column-reverse;
  }

  .heartLine {
    top: auto;
    left: -50vw;
    bottom: 5vw;
    width: 150vw;
  }

  .viktoria {
    top: auto;
    bottom: 50vw;
    left: auto;
    right: 10vw;

    color: var(--primary);
    span:nth-child(1) {
      font-size: 5.3vw;
      line-height: 100%;
    }

    span:nth-child(2) {
      margin-top: -1vw;
      font-size: 5.3vw;
      line-height: 100%;
      text-indent: 6vw;
    }
  }

  .aboutInfo {
    padding: 10.6vw 4.2vw;
    height: 170vw;

    h2 {
      font-size: 4.8vw;
      line-height: 100%;
      margin-bottom: 4.2vw;
    }

    p {
      font-size: 7.4vw;
      line-height: 97%;
      max-width: none;
      margin-bottom: 12.5vw;
    }
  }

  .brandLink {
    margin-left: 5vw;
    gap: 1vw;

    span {
      font-size: 4.2vw;
      line-height: 130%;
    }

    .arrow {
      width: 6.4vw;
      height: 6.4vw;
    }

    .svg {
      width: 59vw;
      height: 17vw;
    }
  }

  .logo {
    width: 100%;
    height: 13.3vw;
    bottom: 6.4vw;
  }
}
