.page {
  /* padding-top: 15vw; */
  padding-bottom: 8.3vw;

  h1 {
    text-align: center;
    font-family: Playfair Display;
    font-weight: 600;
    font-style: italic;
    font-size: 3.2vw;
    line-height: 100%;
    margin-bottom: 1.6vw;
  }

  .qty {
    display: block;
    text-align: center;
    font-family: Manrope;
    font-weight: 600;
    font-size: 0.8vw;
    line-height: 100%;
    letter-spacing: 0.1vw;
    color: rgb(155, 155, 155);
    margin-bottom: 2.7vw;
  }

  .alphabetNav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.7vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    a {
      background-color: rgba(249, 247, 248, 1);
      font-family: Manrope;
      font-weight: 600;
      font-size: 0.8vw;
      line-height: 100%;
      letter-spacing: 0.1vw;
      text-transform: uppercase;
      width: 2.5vw;
      height: 2.5vw;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      transition: 0.3s;
      cursor: pointer;
    }

    a:hover {
      background-color: var(--primary);
      color: #ffffff;
    }

    .disabled {
      color: rgb(145, 145, 145);
      pointer-events: none;
    }
  }

  a {
  }

  .brandsList {
    /* background-color: blueviolet; */
    h2 {
      font-family: Playfair Display;
      font-weight: 600;
      font-style: italic;
      font-size: 2vw;
      line-height: 100%;
      margin-bottom: 2vw;
    }

    .letterGroup {
      padding: 2.7vw 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.brandItems {
  display: flex;
  align-items: center;
  gap: 1.7vw;
  flex-wrap: wrap;
}

.brandItem {
  padding: 0.5vw;
  width: fit-content;
  overflow: hidden;
  color: black;

  h4 {
    text-transform: uppercase;
    font-family: Manrope;
    font-size: 0.9vw;
    font-weight: 600;
    line-height: 1.2vw;
    letter-spacing: 0.09em;
    color: #ffffff;
    text-align: center;
  }

  img {
    transition: transform 0.3s;
  }

  .brandImageCircle {
    position: relative;
    margin: 0 auto;
    width: 6.5vw;
    height: 6.5vw;
    background-color: rgba(232, 232, 232, 1);
    border-radius: 50%;
    margin-bottom: 1vw;
  }

  .brandImageCircle::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 110%;
    height: 110%;
    border: 2px solid rgba(249, 247, 248, 1);
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  span {
    text-align: center;
    display: block;
    font-family: Manrope;
    font-weight: 600;
    font-size: 0.9vw;
    line-height: 100%;
    letter-spacing: 0.07vw;
    text-align: center;
    text-transform: uppercase;
  }
}

.brandItem:hover img {
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  .page {
    padding-bottom: 20vw;
    h1 {
      font-size: 9.6vw;
      line-height: 100%;
      margin-bottom: 5vw;
    }

    .qty {
      font-size: 3.7vw;
      line-height: 100%;
      margin-bottom: 6.4vw;
    }
    .alphabetNav {
      overflow-x: auto;
      gap: 1vw;
      border-bottom: none;
      padding-left: 4.2vw;

      a {
        font-size: 4.2vw;
        line-height: 100%;
        width: 12.8vw;
        height: 12.8vw;
        flex-shrink: 0;
      }
    }

    .brandsList {
      padding-top: 10vw;
      h2 {
        font-size: 8.5vw;
        line-height: 100%;
        margin-bottom: 8.5vw;
      }

      .letterGroup {
        padding: 10vw 0;
      }

      .letterGroup:first-child {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    .brandItems {
      gap: 9vw;
    }

    .brandItem {
      padding: 1.2vw;

      .brandImageCircle {
        width: 22.1vw;
        height: 22.1vw;
        margin-bottom: 3.5vw;
        /* overflow: hidden; */
      }

      span {
        font-size: 3.7vw;
        line-height: 100%;
      }
    }

    .scrollbarContainer {
      width: 100%; /* Ширина скролбару */
      height: 0.8vw;
      background: #efedee;
      border-radius: 0.4vw;
      overflow: hidden;
      z-index: 10;
    }

    .scroller {
      display: flex;
      align-items: center;
      gap: 10vw;
    }

    .scrollbar {
      height: 100%;
      width: 0; /* Початковий стан */
      background: var(--primary);
      transition: width 0.1s ease-out; /* Плавне розширення */
    }

    .alphabetNav {
      /* Приховування скролбару для Webkit браузерів (Chrome, Safari, Opera) */
      -webkit-overflow-scrolling: touch; /* Гладкий скролінг для мобільних */
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* Internet Explorer/Edge */
    }

    .alphabetNav::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }
  }
}
