*,
::after,
::before {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
  object-fit: cover;
  height: max-content;
}

.swiper-button-disabled {
  opacity: 0;
}

input {
  border: none !important;
  outline: none !important;
}
