.heading {
  display: flex;
  justify-content: space-between;
  background-color: rgba(249, 247, 248, 1);
  padding: 0.8vw 1.2vw;
  margin-bottom: 1.6vw;

  p {
    font-family: Manrope;
    font-weight: 600;
    font-size: 1vw;
    line-height: 135%;
  }

  svg {
    width: 1.2vw;
    height: 1.2vw;
    stroke: black;
    transition: stroke 0.3s;
    cursor: pointer;
  }

  svg:hover {
    stroke: var(--primary);
  }
}

.inputContainer {
  display: flex;
  gap: 1.6vw;
  padding-bottom: 1.6vw;
  border-bottom: 1px solid rgba(239, 237, 238, 1);
  margin-bottom: 1.6vw;

  label {
    display: block;
    flex: 1;
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.8vw;
    line-height: 130%;
    letter-spacing: 0%;

    span {
      color: var(--primary);
    }
  }

  input {
    width: 100%;
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.9vw;
    line-height: 140%;
    padding: 0.8vw;
    border: 1px solid rgba(239, 237, 238, 1) !important;
    margin-top: 0.6vw;
  }
}

.addressIndo {
  display: flex;
  gap: 0.8vw;
}

.textArea {
  width: 100%;
  border-bottom: 1px solid rgba(239, 237, 238, 1);
  padding-bottom: 1.6vw;
  margin-bottom: 1.6vw;

  label {
    display: block;
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.8vw;
    line-height: 130%;
  }

  textarea::placeholder {
    color: rgba(209, 207, 208, 1);
  }

  textarea {
    width: 100%;
    display: block;
    border: 1px solid rgba(239, 237, 238, 1) !important;
    padding: 0.8vw 0.9vw;
    resize: none;
    margin-top: 0.5vw;
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.9vw;
    line-height: 140%;
    letter-spacing: 0%;
    height: 10vw;
  }

  .characterCount {
    margin-left: auto;
    margin-top: 0.5vw;
    width: fit-content;
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.7vw;
    line-height: 130%;
    color: rgba(117, 117, 117, 1);
  }
}

.selectContainer {
  flex: 1;
  p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.8vw;
    line-height: 130%;
    letter-spacing: 0%;
    margin-bottom: 0.6vw;

    span {
      color: var(--primary);
    }
  }
}

.mapSelect {
  background-color: var(--primary);
  color: white;
  width: 37%;
  font-family: Manrope;
  font-weight: 700;
  font-size: 0.8vw;
  line-height: 100%;
  letter-spacing: -2%;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 1.1vw 0;
  align-self: flex-end;
  transition: 0.3s;
}

.mapSelect:hover {
  background-color: rgba(255, 196, 58, 1);
  color: var(--primary);
}

.submitBtn {
  font-family: Manrope;
  font-weight: 700;
  font-size: 0.8vw;
  line-height: 0.8vw;
  color: rgba(117, 117, 117, 1);
  padding: 1vw 2.2vw;
  background-color: rgba(249, 247, 248, 1);
  display: flex;
  align-items: center;
  gap: 0.5vw;
  transition: 0.3s;

  svg {
    width: 1.2vw;
    height: 1.2vw;
    fill: #757575;
    transition: fill 0.3s;
  }
}

.submitBtn:hover {
  color: #ffffff;
  background-color: var(--primary);

  svg {
    fill: #ffffff;
  }
}

.submitBtn:focus {
  background-color: rgba(255, 196, 58, 1);
  color: black;

  svg {
    fill: black;
  }
}

.customCheckbox {
  display: flex;
  align-items: center;
  gap: 0.4vw;
  cursor: pointer;

  svg {
    width: 1.2vw;

    height: 1.2vw;
  }

  span {
    font-family: Manrope;
    font-weight: 700;
    font-size: 0.8vw;
    line-height: 0.8vw;
    text-transform: uppercase;
  }
}

.headingContoller {
  display: flex;
  align-items: center;
  gap: 0.8vw;
}

@media (max-width: 1024px) {
  .headingContoller {
    justify-content: space-between;
  }

  .heading {
    padding: 6.4vw 4.2vw;
    flex-direction: column;
    gap: 6.4vw;
    margin-bottom: 4.2vw;

    svg {
      width: 6.4vw;
      height: 6.4vw;
    }

    p {
      font-size: 4.2vw;
      line-height: 4.2vw;
    }
  }

  .customCheckbox {
    gap: 2.1vw;

    span {
      font-size: 4.2vw;
      line-height: 4.2vw;
    }
  }

  .addressIndo {
    gap: 4.2vw;
  }

  .inputContainer {
    flex-direction: column;
    gap: 4.2vw;
    margin-bottom: 4.2vw;
    padding-bottom: 4.2vw;

    label {
      font-size: 4.2vw;
      line-height: 130%;
    }

    input {
      font-size: 4.8vw;
      line-height: 140%;
      padding: 4.6vw 4vw;
      margin-top: 3.2vw;
    }
  }

  .textArea {
    margin-bottom: 4.2vw;
    padding-bottom: 4.2vw;

    label {
      font-size: 4.2vw;
    }

    textarea {
      font-size: 4.2vw;
      padding: 4.2vw;
      height: 36.5vw;
      margin-top: 3.2vw;
    }

    .characterCount {
      font-size: 3.7vw;
      line-height: 140%;
      margin-top: 3.2vw;
    }
  }

  .selectContainer {
    p {
      font-size: 4.2vw;
      line-height: 130%;
      margin-bottom: 3.2vw;
    }
  }

  .submitBtn {
    font-size: 4.2vw;
    line-height: 100%;
    width: 100%;
    padding: 5.3vw 0;
    gap: 2.6vw;
    justify-content: center;

    svg {
      width: 6.4vw;
      height: 6.4vw;
    }
  }

  .mapSelect {
    font-size: 4.2vw;
    line-height: 100%;
    padding: 5.8vw 0;
    width: 100%;
  }
}
