.item {
  display: flex;
  align-items: center;
  gap: 1vw;
  width: 100%;

  .img {
    min-width: 8.8vw;
    max-width: 8.8vw;
    flex-shrink: 0;

    img {
      background-color: rgba(246, 246, 246, 1);
    }
  }

  .markersBlock {
    display: flex;
    gap: 0.4vw;
    margin-right: 0.8vw;

    .bestMarker {
      background-color: rgba(255, 196, 58, 1);
      color: var(--primary);
      padding: 0.4vw 0.8vw;
      text-transform: uppercase;
      font-family: Raleway;
      font-size: 0.6vw;
      font-weight: 800;
      line-height: 0.7vw;
      letter-spacing: 0.01em;

      span {
        display: block;
      }
    }

    .topMarker,
    .newMarker {
      padding: 0.4vw 0;
      width: 3vw;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(254, 228, 229, 1);
      font-family: Raleway;
      font-size: 0.6vw;
      font-weight: 800;
      line-height: 0.7vw;
      letter-spacing: 0.01em;
      color: var(--primary);
    }

    .saleMarker {
      /* font-family: Raleway, sans-serif; */
      font-size: 0.6vw;
      font-weight: 800;
      line-height: 0.6vw;
      letter-spacing: 0.01em;
      color: #ffffff;
      background-color: var(--primary);
      width: 3vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.productBrand {
  font-family: Manrope, sans-serif;
  font-size: 0.7vw;
  font-weight: 600;
  line-height: 0.7vw;
  letter-spacing: 0.12em;
  margin-bottom: 0.4vw;
}

.productName {
  font-family: Manrope, sans-serif;
  font-size: 0.9vw;
  font-weight: 600;
  line-height: 1.3vw;
  margin-bottom: 0.4vw;
}

.currency {
  font-family: Manrope, sans-serif;
  font-size: 0.9vw;
  font-weight: 500;
  line-height: 0.9vw;
  margin-right: 0.2vw;
}

.salePrice {
  font-family: Manrope, sans-serif;
  font-size: 0.9vw;
  font-weight: 600;
  line-height: 0.9vw;
  margin-right: 0.2vw;
}

.regularPrice {
  font-family: Manrope, sans-serif;
  font-size: 0.8vw;
  font-weight: 500;
  line-height: 0.8vw;
  letter-spacing: -0.01em;
  text-decoration: line-through;
  color: rgba(167, 169, 170, 1);
}

.red {
  color: var(--primary); /* зміна кольору тексту на червоний */
}

.code {
  font-family: Manrope;
  font-weight: 500;
  font-size: 0.6vw;
  line-height: 0.8vw;
  display: flex;

  p {
    margin-right: 0.2vw;
    color: rgba(26, 26, 26, 0.267);
  }

  span {
    color: rgba(26, 26, 26, 0.527);
  }
}

.shortDesc {
  font-family: Manrope, sans-serif;
  font-size: 0.8vw;
  font-weight: 600;
  line-height: 1.1vw;
  color: rgba(26, 26, 26, 0.4);
  margin-bottom: 0.8vw;
}

.clear {
  display: flex;
  align-items: center;
  gap: 0.2vw;

  svg {
    width: 0.8vw;
    height: 0.8vw;
    stroke: var(--primary);
  }

  span {
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.7vw;
    line-height: 0.9vw;
    letter-spacing: 0%;
    color: var(--primary);
  }
}

.div {
  width: 100%;
}

.quantityControl {
  background-color: rgba(246, 246, 246, 1);
  display: flex;
  align-items: center;

  button {
    padding: 0.7vw;
    transition: 0.3s;
  }

  button:hover {
    background-color: rgb(236, 236, 236);
  }

  span {
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.8vw;
    line-height: 0.8vw;
    letter-spacing: 0.01vw;
    width: 1.5vw;
    text-align: center;
  }

  svg {
    width: 0.8vw;
    height: 0.8vw;
    fill: black;
  }
}

@media (max-width: 1024px) {
  .item {
    /* height: auto !important; */
    align-items: start;
    gap: 5.3vw;

    .img {
      flex-shrink: 0;
      max-width: none;
      min-width: auto;
      display: flex;
      flex-direction: column;
      gap: 10vw;

      width: 30vw;
      height: 30vw;

      img {
        width: 31vw;
        height: 31vw;
      }
    }

    .productBrand {
      font-size: 3.2vw;
      margin-bottom: 2.1vw;
    }

    .markersBlock {
      gap: 2vw;
      margin-right: 2vw;

      .bestMarker {
        padding: 2vw;
        font-size: 2.6vw;
        line-height: 100%;
      }

      .topMarker,
      .newMarker {
        padding: 3vw;
        width: 9.3vw;
        font-size: 2.6vw;
        line-height: 100%w;
      }

      .saleMarker {
        font-size: 2.6vw;
        line-height: 100%;
        width: 9.3vw;
      }
    }
  }

  .quantityControl {
    width: fit-content;
    justify-content: space-between;
    width: 100%;

    span {
      font-size: 3.7vw;
      line-height: 4.2vw;
    }

    button {
      padding: 2.6vw;
    }

    svg {
      width: 3.2vw;
      height: 3.2vw;
    }
  }

  .code {
    font-size: 3.2vw;
    line-height: 4.2vw;
    align-items: anchor-center;

    p {
      margin-right: 1vw;
    }
  }

  .div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vw;
  }

  .productName {
    font-size: 3.2vw;
    line-height: 120%;
    margin-bottom: 2.1vw;
  }

  .shortDesc {
    font-size: 3.2vw !important;
    line-height: 5.8vw !important;
  }

  .currency {
    font-size: 4.2vw;
    margin-right: 1vw;
  }

  .salePrice {
    font-size: 4.2vw;
  }

  .clear {
    gap: 1vw;

    svg {
      width: 4.2vw;
      height: 4.2vw;
    }

    span {
      font-size: 3.7vw;
    }
  }
}
