.header {
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  transition: background 0.3s;
  z-index: 999;

  a,
  p,
  span {
    transition: color 0.3s;
  }

  path {
    transition: stroke 0.3s;
  }
}

.freeDelivery {
  text-align: center;
  font-family: Manrope;
  font-weight: 700;
  font-size: 0.6vw;
  line-height: 137%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  color: rgba(214, 61, 68, 1);
  background-color: rgba(254, 228, 229, 1);
  padding: 0.4vw 0;
}

.header:hover,
.header.hovered {
  background-color: #ffffff;
}

.header.hovered span,
.header:hover span {
  background-color: black;
  color: #ffffff !important;
}
.header.hovered p,
.header:hover p {
  color: #000000 !important;
}

.header:hover a,
.header.hovered a,
.header:hover span,
.header.hovered span {
  color: black;
}

.header:hover svg,
.header.hovered svg {
  stroke: rgb(0, 0, 0);
}

.header:hover .headerLogo,
.header.hovered .headerLogo {
  filter: invert();
  path {
    stroke: #ffffff;
  }

  /* rect {
    fill: black;
  } */
}

.menuBtn {
  font-family: Manrope, sans-serif;
  font-size: 0.8vw;
  font-weight: 600;
  line-height: 0.8vw;
  color: #ffffff;

  display: flex;
  align-items: center;
  gap: 0.4vw;
  svg {
    width: 1.25vw;
    height: 1.25vw;
    stroke: white;
  }
}

.headerLogo {
  .svg {
    width: 10vw;
  }

  path {
    fill: #ffffff;
  }
}

.headerTopLine {
  padding: 1.25vw 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerBottomLine {
  position: relative;

  .navMenu {
    display: flex;
    justify-content: space-around;
    .menuItem {
      position: relative;
    }

    .menuItem a {
      position: relative;
      display: block;
      font-family: Manrope;
      font-weight: 700;
      font-size: 0.8vw;
      line-height: 0.8vw;
      letter-spacing: 0.01vw;
      padding: 1.2vw;
    }

    .menuItem a::before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #000000;
      opacity: 0;
      transition: opacity 0.3s;
    }

    .menuItem a:hover::before {
      opacity: 1;
    }

    .menuItem:has(.subMenu):hover a::before {
      opacity: 1;
    }

    .menuItem .subMenu {
      position: absolute;
      background-color: #ffffff;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 0.8vw;
      transition: opacity 0.5s;
      opacity: 0;
      min-width: 100%;
      width: max-content;
      height: 0px;
      overflow: hidden;

      a {
        color: #000000;
        padding: 0;
        font-family: Manrope;
        font-weight: 500;
        font-size: 0.8vw;
        line-height: 130%;
        letter-spacing: 0%;
      }

      a:hover {
        color: var(--primary);
      }

      a::before {
        display: none;
      }
    }

    .menuItem:hover .subMenu {
      opacity: 1;
      height: auto;
      padding: 1.2vw;
    }
  }
}

.headerBottomLine::before,
.headerBottomLine::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.05);
  pointer-events: none;
}

body {
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9); /* затемнення */
  display: none;
  z-index: 999; /* щоб overlay був поверх всього контенту */
}

.menuItem:hover .overlay {
  display: block; /* показуємо overlay при ховері на меню */
}
