.navigationContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.slide {
  li {
    max-width: 16vw;
  }
}

.emptyWishlist {
  margin: 0 auto;
  width: fit-content;

  p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.9vw;
    line-height: 125%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(117, 117, 117, 1);
    margin-bottom: 2vw;
  }

  svg {
    width: 6.3vw;
    height: auto;
    margin: 0 auto;
    margin-bottom: 2vw;
  }

  a {
    color: black;
    background-color: var(--primary);
    padding: 1vw 3.4vw;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    font-family: Manrope;
    font-weight: 700;
    font-size: 0.8vw;
    line-height: 100%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: white;
    transition: 0.3s;

    svg {
      width: 1.2vw;
      height: auto;
      margin-bottom: 0;
      fill: white;
      transition: fill 0.3s;
    }
  }

  a:hover {
    background-color: rgba(255, 196, 58, 1);
    color: black;

    svg {
      fill: black;
    }
  }
}

.prevButton,
.nextButton {
  display: block;
  background-color: #fff;
  padding: 1vw;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: background-color 0.3s ease;

  svg {
    fill: black;
    width: 1.2vw;
  }
}

.prevButton:hover,
.nextButton:hover {
  background-color: #f4f4f4;
}

.swiperController {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 10vw; */
  margin-bottom: 2vw;
}

.tabsController {
  display: flex;
  gap: 2.1vw;

  li {
    font-family: Manrope, sans-serif;
    font-size: 1.4vw;
    font-weight: 500;
    line-height: 1.4vw;
    color: rgba(26, 26, 26, 0.1);
  }
}

.tabsController {
  display: flex;
  gap: 20px;
}

.tabItem {
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.tabItem:hover {
  text-decoration: underline;
}

.activeTab {
  font-family: Playfair !important;
  font-size: 1.6vw !important;
  font-style: italic;
  font-weight: 500;
  line-height: 1.6vw !important;
  color: black !important;
}

.swiperController {
  h2 {
    color: #000000;
    margin-bottom: 2vw;

    span:nth-child(1) {
      font-family: Playfair display;
      font-size: 2.7vw;
      font-style: italic;
      font-weight: 400;
      line-height: 2.7vw;
    }

    span:nth-child(2) {
      display: block;
      margin-top: -0.3vw;
      font-family: Manrope;
      font-size: 2.7vw;
      font-weight: 500;
      line-height: 2.7vw;
      text-indent: 5.5vw;
    }
  }
}

.clear {
  margin-top: 5vw;
  display: flex;
  align-items: center;
  gap: 0.6vw;

  svg {
    width: 1.2vw;
    height: 1.2vw;
    stroke: var(--primary);
  }

  span {
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.9vw;
    line-height: 1.2vw;
    letter-spacing: 0%;
    color: var(--primary);
  }
}

.mobileList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.2vw;
}

.productListSwiper {
  /* max-width: 10%; */
  overflow: hidden;
  max-width: 61vw;
}

@media (max-width: 1024px) {
  .swiperController {
    margin-bottom: 0;

    h2 {
      margin-bottom: 2vw;

      span:nth-child(1) {
        font-size: 9.6vw;
        line-height: 9.6vw;
      }

      span:nth-child(2) {
        margin-top: -0.5vw;
        font-size: 8.5vw;
        line-height: 8.5vw;
        text-indent: 18vw;
      }
    }
  }

  .clear {
    gap: 2.1vw;
    margin-bottom: 5vw;
    margin-top: 5vw;

    span {
      font-size: 5vw;
      line-height: 5vw;
    }

    svg {
      width: 5.3vw;
      height: 5.3vw;
    }
  }

  .emptyWishlist {
    margin-top: 10vw;
    p {
      font-size: 7vw;
      margin-bottom: 10vw;
    }

    svg {
      width: 20vw;
      margin-bottom: 10vw;
    }

    a {
      max-width: 50vw;
      padding: 5vw 7vw;
      gap: 1vw;
      font-size: 5vw;
      margin: 0 auto;

      svg {
        width: 5vw;
        height: auto;
      }
    }
  }
}
