.bonusContainer {
  flex-shrink: 0;
  img {
    width: 30vw;
  }
}

.bonusQty {
  display: flex;
  align-items: center;
  gap: 1.6vw;
  margin-bottom: 2vw;

  svg {
    width: 6.2vw;
    height: 6.2vw;
  }

  p {
    font-family: Manrope;
    font-weight: 700;
    font-size: 0.9vw;
    line-height: 1.4vw;
    letter-spacing: 0%;
  }

  .qty {
    font-family: Playfair Display;
    font-weight: 600;
    font-style: italic;
    font-size: 3.2vw;
    line-height: 2.5vw;
  }

  .text {
    font-family: Playfair Display;
    font-weight: 600;
    font-style: italic;
    font-size: 1.2vw;
  }
}

.flex {
  display: flex;
  gap: 2vw;
}

.bonusTransactionList {
  position: relative;
  width: 100%;

  h4 {
    font-family: Manrope;
    font-weight: 700;
    font-size: 0.9vw;
    line-height: 1.4vw;
    margin-bottom: 1.2vw;
  }

  ul {
    padding: 1.2vw;
    background-color: rgba(249, 247, 248, 1);

    li {
      padding-right: 1.2vw;
    }
  }
}

.list {
  /* max-height: 23vw; */
  /* overflow: auto; */

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li:not(:last-child) {
    margin-bottom: 1vw;
  }
}

/* Стилі для контейнера зі скролом */
.scrollbarContainer {
  max-height: 23vw; /* Встановіть потрібну висоту */
  overflow-y: auto; /* Додає вертикальний скролбар */
}

.scrollbarContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.scrollbarContainer::-webkit-scrollbar {
  width: 0.2vw;
  background-color: #f5f5f5;
}

.scrollbarContainer::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.transactionInfo {
  display: flex;
  align-items: center;
  gap: 0.8vw;

  .icon {
    width: 2.7vw;
    height: 2.7vw;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 1.2vw;
    }
  }

  p {
    font-family: Manrope;
    font-weight: 600;
    font-size: 0.9vw;
    line-height: 1.1vw;
    margin-bottom: 0.2vw;
  }

  span {
    font-family: Manrope;
    font-weight: 400;
    font-size: 0.7vw;
    line-height: 0.8vw;
    color: rgba(128, 128, 128, 1);
  }
}

.transactionValue {
  font-family: Manrope;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 1.1vw;
  text-align: right;
}

.noneTransaction {
  background-color: rgba(249, 247, 248, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90%;

  p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 0.9vw;
    line-height: 1.1vw;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    max-width: 12vw;
    margin-bottom: 2vw;
  }

  svg {
    width: 6.3vw;
    height: 5.9vw;
  }
}

.card {
  position: relative;

  p {
    position: absolute;
    top: 7vw;
    left: 1.2vw;
    font-family: Manrope;
    font-weight: 700;
    font-size: 1.4vw;
    line-height: 1.5vw;
    color: var(--primary);
  }

  p::before {
    position: absolute;
    bottom: -0.1vw;
    content: "";
    width: 100%;
    height: 0.15vw;
    background-color: var(--primary);
  }
}

.titleContainer {
  margin-bottom: 2vw;

  h2 {
    color: #000000;
    margin-bottom: 1.6vw;

    span:nth-child(1) {
      font-family: Playfair display;
      font-size: 3.2vw;
      font-style: italic;
      font-weight: 400;
      line-height: 3.2vw;
    }

    span:nth-child(2) {
      display: block;
      margin-top: -0.3vw;
      font-family: Manrope;
      font-size: 3.2vw;
      font-weight: 500;
      line-height: 3.2vw;
      text-indent: 5vw;
    }
  }

  p {
    font-family: Raleway;
    font-weight: 600;
    font-size: 0.9vw;
    line-height: 150%;
    letter-spacing: -0.01vw;

    span {
      font-weight: 700;
    }
  }
}

@media (max-width: 1024px) {
  .titleContainer {
    margin-bottom: 10vw;
    h2 {
      margin-bottom: 6.4vw;

      span:nth-child(1) {
        font-size: 9.6vw;
        line-height: 100%;
      }

      span:nth-child(2) {
        margin-top: -1vw;
        font-size: 8.5vw;
        line-height: 100%;
        text-indent: 10vw;
      }
    }

    p {
      font-size: 4.8vw;
    }
  }

  .flex {
    flex-direction: column;
    gap: 10vw;
  }

  .bonusQty {
    gap: 0;
    justify-content: space-between;
    margin-bottom: 10vw;

    svg {
      width: 32vw;
      height: 32vw;
    }

    p {
      font-size: 4.8vw;
      line-height: 100%;
      margin-bottom: 2vw;
    }

    .qty {
      font-size: 13.8vw;
      line-height: 100%;
    }

    .text {
      font-size: 6.2vw;
      line-height: 100%;
      margin-left: 2vw;
    }
  }

  .card {
    img {
      width: 100%;
    }

    p {
      font-size: 4.2vw;
      line-height: 110%;
      top: 20vw;
      left: 3.2vw;
    }
  }

  .scrollbarContainer {
    max-height: 118vw;
  }

  .bonusTransactionList {
    h4 {
      font-size: 4.8vw;
      line-height: 150%;
      margin-bottom: 6.4vw;
    }

    ul {
      padding: 4.2vw;
      padding-right: 0;

      li:not(:last-child) {
        margin-bottom: 4.2vw;
      }
    }
  }

  .scrollbarContainer::-webkit-scrollbar {
    width: 0.5vw;
    background-color: #f5f5f5;
  }

  .transactionInfo {
    gap: 4.2vw;

    .icon {
      width: 13.8vw;
      height: 13.8vw;

      img {
        width: 6.4vw;
        height: 6.4vw;
      }
    }

    p {
      font-size: 4.8vw;
      line-height: 100%;
      margin-bottom: 1vw;
    }

    span {
      font-size: 3.7vw;
      line-height: 140%;
    }
  }

  .transactionValue {
    text-align: left;
    font-size: 4.8vw;
    line-height: 125%;
  }
}
