.productItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vw;
}

.productItem:hover img {
  transform: scale(1.2);
}

.productImage {
  position: relative;
  max-height: 17.7vw; /* або можете встановити конкретну висоту */
  height: 100%; /* встановлюємо висоту контейнера */
  width: 100%; /* контейнер займає всю ширину */
  overflow: hidden;
  margin-bottom: 0.8vw;
  background-color: rgba(246, 246, 246, 1);
}

.markersBlock {
  position: absolute;
  top: 0.8vw;
  left: 0;
  z-index: 9;

  div:not(:last-child) {
    margin-bottom: 0.4vw;
  }

  .bestMarker {
    background-color: rgba(255, 196, 58, 1);
    color: var(--primary);
    padding: 0.4vw 0.8vw;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 0.6vw;
    font-weight: 800;
    line-height: 0.7vw;
    letter-spacing: 0.01em;

    span {
      display: block;
    }
  }

  .topMarker,
  .newMarker {
    padding: 0.4vw 0;
    width: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(254, 228, 229, 1);
    font-family: Raleway;
    font-size: 0.6vw;
    font-weight: 800;
    line-height: 0.7vw;
    letter-spacing: 0.01em;
    color: var(--primary);
  }

  .saleMarker {
    padding: 0.4vw 0.8vw;
    /* font-family: Raleway, sans-serif; */
    font-size: 0.6vw;
    font-weight: 800;
    line-height: 0.7vw;
    letter-spacing: 0.01em;
    color: #ffffff;
    background-color: var(--primary);
    width: fit-content;
  }
}

.wishList::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  content: "";
  width: 0.1vw;
  height: 0.1vw;
  opacity: 0;
  border-radius: 50%;
  border: 1px solid var(--primary);
  transition: width 0.3s, height 0.3s;
}

.cart {
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1.2vw;
  right: 1.2vw;
  width: 2.8vw;
  height: 2.8vw;
  border-radius: 50%;
  background-color: var(--primary);
  transition: opacity 0.3s;

  svg {
    width: 1.1vw;
  }
}

.productItem:hover .cart {
  opacity: 1;
  cursor: pointer;
}

.wishList {
  position: absolute;
  top: 1.2vw;
  right: 1.2vw;
  cursor: pointer;

  svg {
    fill: black;
    width: 1.2vw;
    transition: fill 0.3s;
  }
}

.wishList:hover::before {
  width: 2.5vw;
  height: 2.5vw;
  opacity: 1;
}

.wishList:hover svg {
  fill: var(--primary);
}

.productImage img {
  object-fit: cover; /* це забезпечить, щоб зображення покривало всю область */
  width: 100%;
  height: 100%; /* робимо висоту 100% для зображення */
  transition: transform 0.3s;
}

.productBrand {
  font-family: Manrope, sans-serif;
  font-size: 0.7vw;
  font-weight: 600;
  line-height: 0.7vw;
  letter-spacing: 0.12em;
  margin-bottom: 0.4vw;
}

.productName {
  font-family: Manrope, sans-serif;
  font-size: 0.9vw;
  font-weight: 600;
  line-height: 1.3vw;
  margin-bottom: 0.4vw;
}

.currency {
  font-family: Manrope, sans-serif;
  font-size: 0.9vw;
  font-weight: 500;
  line-height: 0.9vw;
  margin-right: 0.2vw;
}

.salePrice {
  font-family: Manrope, sans-serif;
  font-size: 0.9vw;
  font-weight: 600;
  line-height: 0.9vw;
  margin-right: 0.2vw;
}

.regularPrice {
  font-family: Manrope, sans-serif;
  font-size: 0.8vw;
  font-weight: 500;
  line-height: 0.8vw;
  letter-spacing: -0.01em;
  text-decoration: line-through;
  color: rgba(167, 169, 170, 1);
}

.red {
  color: var(--primary); /* зміна кольору тексту на червоний */
}

.ratingBlock {
  display: flex;
  align-items: center;
  gap: 0.4vw;

  span {
    font-family: Manrope, sans-serif;
    font-size: 0.8vw;
    font-weight: 600;
    line-height: 1vw;
    letter-spacing: -0.02em;
    color: rgba(26, 26, 26, 0.4);
  }
}

.shortDesc {
  font-family: Manrope, sans-serif;
  font-size: 0.8vw;
  font-weight: 600;
  line-height: 1.1vw;
  color: rgba(26, 26, 26, 0.4);
  margin-bottom: 0.8vw;
}
