/* CartPopup.module.css */
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* напівпрозорий фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background-color: #fff;
  padding: 1.6vw;
  min-width: 90%;
  max-width: 90%;
  max-height: 90%;
  min-height: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.popupContent::-webkit-scrollbar {
  width: 0.2vw;
}
.popupContent::-webkit-scrollbar-track {
  width: 1vw;
  background-color: rgba(254, 228, 229, 1);
}
.popupContent::-webkit-scrollbar-thumb {
  width: 1vw;
  background-color: var(--primary);
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2vw;

  h2 {
    font-family: Playfair Display;
    font-weight: 600;
    font-style: italic;
    font-size: 2.1vw;
    line-height: 100%;
  }

  svg {
    width: 2.7vw;
    height: 2.7vw;
    stroke: #1a1a1a;
    transition: 0.3s;
  }

  svg:hover {
    stroke: var(--primary);
  }
}

.flexBlock {
  display: flex;
  gap: 0.8vw;
  justify-content: space-between;
}

.popupTitle {
  font-size: 1.2rem;
  margin: 0;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.popupList {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    border: 1px solid rgba(239, 237, 238, 1);
    padding: 0.6vw;
    height: var(--itemHeight);
    overflow: hidden;

    img {
      aspect-ratio: 1;
    }
  }

  li:not(:last-child) {
    margin-bottom: 0.4vw;
  }
}

:root {
  --itemHeight: 10vw;
}

@media (max-width: 1024px) {
  :root {
    --itemHeight: 54.2vw;
  }
}

.cartListBox {
  flex-grow: 1;
  max-height: calc(var(--itemHeight) * 2 + 0.4vw);
  overflow-y: auto;
  padding-right: 0.5vw;
}

.cartListBox::-webkit-scrollbar {
  width: 0.2vw;
}
.cartListBox::-webkit-scrollbar-track {
  width: 1vw;
  background-color: rgba(254, 228, 229, 1);
}
.cartListBox::-webkit-scrollbar-thumb {
  width: 1vw;
  background-color: var(--primary);
}

.orderInfo {
  background-color: rgba(249, 247, 248, 1);
  padding: 1.2vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 31.2vw;

  .orderDetails {
    margin-bottom: 1.6vw;

    p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: Manrope;
      font-weight: 600;
      font-size: 0.8vw;
      line-height: 137%;
      letter-spacing: 0.01vw;
      color: rgb(56, 56, 56);

      span:nth-child(2) {
        display: flex;
        align-items: center;
        gap: 0.2vw;
        font-family: Manrope;
        font-weight: 700;
        font-size: 0.8vw;
        line-height: 100%;
        color: rgb(0, 0, 0);

        svg {
          stroke: #1a1a1a;
          width: 1vw;
          height: 1vw;
        }
      }

      .discount {
        color: rgba(117, 117, 117, 1) !important;
      }
    }

    P:not(:last-child) {
      margin-bottom: 0.6vw;
    }
  }

  .totalAmount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;

    p {
      font-family: Raleway;
      font-weight: 700;
      font-size: 1vw;
      line-height: 100%;
      letter-spacing: 0.01vw;
      text-transform: uppercase;
    }

    span {
      font-family: Manrope;
      font-weight: 700;
      font-size: 1.6vw;
      line-height: 100%;
      letter-spacing: 0%;
      color: var(--primary);
    }
  }

  .btnBlock {
    button {
      display: block;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5vw;
      padding: 1.1vw 0;

      transition: 0.3s;

      svg {
        width: 1.2vw;
        height: 1.2vw;
        fill: white;
        transition: 0.3s;
      }
    }

    .disabled {
      pointer-events: none;
    }

    button:not(:last-child) {
      margin-bottom: 1vw;
    }

    button:nth-child(1) {
      background-color: var(--primary);
      font-family: Manrope;
      font-weight: 700;
      font-size: 0.8vw;
      line-height: 100%;
      letter-spacing: 0.01vw;
      text-transform: uppercase;
      color: white;
    }

    button:nth-child(1):hover {
      background-color: rgba(255, 196, 58, 1);
      color: var(--primary);

      svg {
        fill: var(--primary);
      }
    }

    button:nth-child(2) {
      background-color: white;
      font-family: Manrope;
      font-weight: 600;
      font-size: 0.8vw;
      line-height: 0.8vw;
      border: 1px solid rgba(26, 26, 26, 0.2);
    }

    button:nth-child(2):hover {
      background-color: black;
      color: white;
    }
  }
}

.cartProductsSlider {
  /* transform: scale(0.5); */
}

@media (max-width: 1024px) {
  .popupContent {
    width: 100vw;
    height: 100vh;
    max-width: none;
    max-height: none;
    padding: 4.2vw;
  }

  .popupHeader {
    margin-bottom: 8.5vw;

    h2 {
      font-size: 7.4vw;
    }

    svg {
      width: 11.2vw;
      height: 11.2vw;
    }
  }

  .flexBlock {
    display: block;
  }

  .cartListBox {
    padding-right: 1.5vw;
    margin-bottom: 8.5vw;
  }

  .cartListBox::-webkit-scrollbar {
    width: 0.8vw;
  }

  .popupList {
    li {
      border-left: none;
      border-right: none;
      border-top: none;
      padding: 0 0 4.2vw 0;
    }

    li:not(:last-child) {
      margin-bottom: 4.2vw;
    }
  }

  .orderInfo {
    width: 100%;
    padding: 4.2vw;

    .orderDetails {
      margin-bottom: 8.5vw;

      P:not(:last-child) {
        margin-bottom: 2.1vw;
      }

      p {
        font-size: 3.7vw;
        line-height: 137%;

        span:nth-child(2) {
          font-size: 4.2vw;

          svg {
            width: 4.5vw;
            height: 4.5vw;
          }
        }
      }
    }

    .totalAmount {
      margin-bottom: 8.5vw;

      P {
        font-size: 4.2vw;
      }

      span {
        font-size: 7.4vw;
      }
    }

    .btnBlock {
      button:nth-child(1) {
        font-size: 4.2vw;
        gap: 2.6vw;

        svg {
          width: 6.4vw;
          height: 6.4vw;
        }
      }

      button:nth-child(2) {
        font-size: 4.2vw;
        line-height: 4.2vw;
        border: 1px solid rgba(26, 26, 26, 0.2);
        padding: 5.8vw 0;
      }

      button {
        padding: 4.8vw 0;
      }

      button:not(:last-child) {
        margin-bottom: 2.1vw;
      }
    }
  }
}
