.page {
  padding: 3vw 0 8.3vw 0 !important;
}

.container {
  display: flex;
  gap: 5.2vw;
  /* overflow: hidden; */
}

.tabsMenu {
  display: flex;
  flex-direction: column;
  min-width: 16.6vw;

  ul {
    padding-bottom: 0.8vw;
    border-bottom: 1px solid rgba(232, 232, 232, 1);

    li {
      position: relative;

      .wishLength {
        position: absolute;
        top: 50%;
        right: 1vw;
        transform: translateY(-50%);
        font-family: Manrope;
        font-weight: 600;
        font-size: 0.6vw;
        line-height: 0.6vw;
        color: var(--primary);
        background-color: rgba(255, 196, 58, 1);
        width: 1vw;
        height: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
    }
  }
}

.tabButton {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.8vw;
  cursor: pointer;
  color: rgba(102, 102, 102, 1);
  transition: 0.3s;
  font-family: Manrope;
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 1.1vw;

  padding: 0.8vw 1.2vw;

  svg {
    width: 1.25vw;
    height: 1.25vw;
    transition: 0.3s;
    fill: rgb(0, 0, 0);
    stroke: rgb(0, 0, 0);
  }
}

.tabButton:hover {
  color: black;
}

.active:hover {
  color: rgb(255, 255, 255);
}

.active {
  font-weight: bold;
  color: #ffffff;
  background-color: var(--primary) !important;

  svg {
    fill: #ffffff;
    stroke: #ffffff;
  }
}

.tabsContent {
  flex-grow: 1;
}

.logout {
  display: flex;
  align-items: center;
  padding: 0.8vw 1.2vw;

  font-family: Manrope;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 1.2vw;
  color: rgba(26, 26, 26, 0.521);

  gap: 0.6vw;
  margin-top: 1vw;
  stroke: black;
  transition: color 0.3s;

  svg {
    width: 1.3vw;
    height: 1.3vw;
    transition: stroke 0.3s;
  }
}

.logout:hover {
  color: var(--primary);

  svg {
    stroke: var(--primary);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.loader::after {
  content: "";
  width: 2vw;
  height: 2vw;
  border: 0.2vw solid rgba(0, 0, 0, 0.2);
  border-top-color: var(--primary);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.username {
  font-family: Manrope;
  font-weight: 700;
  font-size: 1.6vw;
  line-height: 1.9vw;
  margin-bottom: 0.8vw;
  padding-left: 1.2vw;
}

.email {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 0.7vw;
  line-height: 0.9vw;
  margin-bottom: 1.6vw;
  padding-left: 1.2vw;
}
